@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Navbar Styles */
.navbar {
  @apply bg-gray-800 dark:bg-gray-900 px-4 py-2 transition delay-150 duration-300 ease-in-out sticky top-2 z-50 w-[95vw] mt-1 -mb-6 mx-auto rounded-full;
}

.nav-container {
  @apply container mx-auto flex justify-between gap-1 items-center;
}

.brand-container {
  @apply flex;
}

.brand-link {
  @apply text-white text-3xl font-bold flex pb-1;
}

.nav-links {
  @apply hidden space-x-16 lg:space-x-36 md:flex;
}

.nav-link {
  @apply cursor-pointer text-gray-300 dark:text-gray-400 dark:hover:text-white hover:text-white transition-colors duration-200;

  &.active-link {
    @apply text-primary-light dark:text-primary-dark;
  }
}

.mobile-menu {
  @apply theme-base absolute flex-col items-center self-end space-y-4 rounded-lg mt-3 py-4 font-bold bg-gray-800 dark:bg-gray-900 sm:w-auto sm:self-center top-12 left-24 right-0 transition-transform duration-300 ease-in-out;
}

/* Hamburger Menu */
.hamburger {
  @apply cursor-pointer w-6 h-6 transition-all duration-[0.25s] relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply absolute top-0 left-0 w-6 h-[2px] rotate-0 transition-all duration-500;
}

.hamburger-middle {
  @apply translate-y-[7px];
}

.hamburger-bottom {
  @apply translate-y-[14px];
}

.open {
  @apply rotate-90 -translate-y-2 -translate-x-1;
}

.open .hamburger-top {
  @apply rotate-45 translate-y-1.5 translate-x-1.5;
}

.open .hamburger-middle {
  @apply hidden;
}

.open .hamburger-bottom {
  @apply -rotate-45 translate-y-1.5 translate-x-1.5;
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translatey(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-in {
    animation: slideIn 0.3s forwards;
  }
  
  .slide-out {
    animation: slideOut 0.3s forwards;
  }

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 0.3s forwards;
}