<nav class="navbar">
  <div class="nav-container">
    <div class="brand-container">
      <a routerLink="/" class="brand-link">Sotonye</a>
      <!-- Theme Toggle -->
      <app-theme-toggle></app-theme-toggle>
    </div>

    <div class="nav-links">
      <a *ngFor="let route of routes; index as i" routerLink="{{route.path}}" routerLinkActive="active-link" class="nav-link">{{route.title}}</a>
    </div>

    <!-- Hamburger Icon -->
    <button type="button" id="menu-btn" class="block mt-2 hamburger md:hidden focus:outline-none" (click)="toggleMenu()">
      <span class="hamburger-top bg-gray-100"></span>
      <span class="hamburger-middle bg-gray-100"></span>
      <span class="hamburger-bottom bg-gray-100"></span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div class="md:hidden">
    <div id="mobile-menu" class="mobile-menu flex hidden">
      <a *ngFor="let route of routes; index as i" routerLink="{{route.path}}" routerLinkActive="active-link"
        class="text-gray-300 dark:text-gray-400 dark:hover:text-white hover:text-white">{{route.title}}</a>
    </div>
  </div>
</nav>