@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Navbar Styles */
.navbar {
  @apply theme-base fixed z-50 w-full bg-surface-light dark:bg-surface-dark p-3;
}

.nav-container {
  @apply container mx-auto flex justify-between items-center;
}

.brand-container {
  @apply flex;
}

.brand-link {
  @apply text-white text-3xl font-bold flex pb-1;
}

.nav-links {
  @apply hidden space-x-6 md:flex;
}

.nav-link {
  @apply theme-base text-text-light dark:text-text-dark hover:text-accent-default;
}

.mobile-menu {
  @apply theme-base bg-surface-light dark:bg-surface-dark absolute flex-col items-center hidden self-end space-y-4 rounded-lg mt-3 py-4 font-bold sm:w-auto sm:self-center left-24 right-0;
}

/* Active Link Styles */
.active-link {
  @apply text-primary-light font-body-bold;

  &:hover {
    @apply text-accent-default;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translatey(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

.slide-out {
  animation: slideOut 0.3s forwards;
}
