.image-gallery {
  @apply my-12 animate-fade-in-up;
}

.category-title {
  @apply text-2xl font-bold mb-4 text-text-light dark:text-text-dark;
}

.category-container {
  @apply overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-all duration-300 bg-white  dark:bg-gradient-to-br dark:from-black dark:to-gray-800 p-6 relative;
}

.category-count {
  @apply absolute mb-4 top-2 right-2 text-sm font-semibold text-gray-600 dark:text-gray-300;
}

.items-container {
  @apply flex items-center justify-between mt-3;
}

.item-changer {
  @apply p-2 rounded-lg bg-gray-200 dark:bg-gray-700 text-gray-600 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-600 hover:text-gray-800 dark:hover:text-gray-200 transition-colors duration-200;
}

.item-body {
  @apply mx-4 text-center;
}

.item-image {
  @apply rounded-lg w-full h-auto aspect-square overflow-hidden max-w-sm mx-auto object-cover cursor-pointer transform transition-transform duration-300 hover:scale-110;
}

.item-title {
  @apply text-xl font-bold mt-4 text-text-light dark:text-text-dark text-wrap;
}

.item-description {
  @apply mt-2 font-semibold text-text-muted-light dark:text-text-muted-dark line-clamp-2 hover:line-clamp-none transition-all duration-300;
}

.item-actions {
  @apply mt-4 flex gap-2 items-center justify-evenly;

  a {
    @apply text-sm cursor-pointer inline-flex items-center gap-1 p-2 rounded-full;
  
    &.disabled {
      @apply bg-gray-500 cursor-not-allowed;
    }

    &.enabled {
      @apply transition-all duration-300 bg-gradient-to-br from-orange-400 to-orange-600 hover:from-gray-400 hover:to-gray-600;
    }
  }

}