<div class="responsive-grid">
    <div *ngFor="let category of categories; index as i" class="image-gallery" id="{{category.title}}">
        <h3 class="category-title">{{category.title}}</h3>
        <div class="category-container">
            <div class="category-count">Count: {{ category.items.length }}</div>
            <div class="items-container">
                <button type="button" class="item-changer" (click)="prevItem(i)">
                    <fa-icon [icon]="faArrowLeft"> -</fa-icon>
                </button>
                <div class="item-body">
                    <img [src]="category.items[getCurrentIndex(i)]?.image"
                        alt="{{category.items[getCurrentIndex(i)]?.title + ' Image'}}" class="item-image" appImageViewer
                        [fullImage]="category.items[getCurrentIndex(i)]?.image">
                    <h4 class="item-title">{{ category.items[getCurrentIndex(i)]?.title }}</h4>
                    <p class="item-description">{{category.items[getCurrentIndex(i)]?.description }}</p>
                    
                    <!-- Tech Stack Bar -->
                    <app-tech-stack 
                        *ngIf="category.items[getCurrentIndex(i)]?.techStack" 
                        [techNames]="category.items[getCurrentIndex(i)]?.techStack"
                        displayMode="bar">
                    </app-tech-stack>

                    <div class="item-actions">
                        <a *ngIf="category.items[getCurrentIndex(i)]?.githubRepo"
                            [href]="category.items[getCurrentIndex(i)]?.githubLink" target="_blank"
                            appAnimatedBorder [config]="{borderRadius: '9999px'}">
                            <fa-icon [icon]="faGithub"></fa-icon>
                            Source Code
                        </a>
                        <a [href]="category.items[getCurrentIndex(i)].liveLink || category.items[getCurrentIndex(i)].link"                            target="_blank" appAnimatedBorder [config]="{borderRadius: '9999px'}">
                            Live Demo
                        </a>
                    </div>
                </div>
                <button type="button" class="item-changer" (click)="nextItem(i)">
                    <fa-icon [icon]="faArrowRight">-></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>