<app-section title="About Me" subtitle="Software Developer">
  <div>
    <div class="profile-container">
      <div class="profile-image-container">
        <img src="profile-picture.jpg" alt="Profile Picture" class="profile-image" appImageViewer
          [fullImage]="'profile-picture.jpg'">
        <h3 class="profile-name">DAGOGO Sotonye A.</h3>
      </div>
      <div class="profile-description">
        <p *ngFor="let text of bioParagraphs; index as i">{{text}}</p>
      </div>
    </div>
  </div>

  <div class="experience-section">
    <div class="experience-container">
      <app-card title="Experience">
        <ul class="work-experience">
          <li class="items-center justify-center gap-2 my-2 p-1 flex-col">
            <span *ngFor="let work of workExperiences; index as i">
              <fa-icon [icon]="faYY"></fa-icon> {{work}} <fa-icon [icon]="faYY"></fa-icon>
            </span>
          </li>
          <li>Numerous certifications from
            <a href="https://www.freecodecamp.org/Sotonye" class="px-2">
              <img src="https://img.shields.io/badge/-FCC-black?style=flat&logo=freecodecamp&logoColor=white"
                alt="freecodecamp" appImageViewer
                [fullImage]="'https://img.shields.io/badge/-FCC-black?style=flat&logo=freecodecamp&logoColor=white'">
            </a>
          </li>
          <li>Learnt a lot from
            <a href="https://github.com/bradtraversy" class="px-2">
              <img src="traversy-media.jpg" alt="Traversy Media" width="20" height="20" appImageViewer
                [fullImage]="'traversy-media.jpg'">
            </a>
          </li>
        </ul>
      </app-card>
      <app-card title="CV">
        <div class="cv">
          <p>Have a look at it here:</p>
          <a target="_blank" rel="noopener"
            href="https://1drv.ms/b/c/740863ef2517674a/EaMpTQia4ElEkdFEa9aUcd8Ba7Ro4xAWfl_rsC8eA_AzLg?e=ojDtx2">
            <img src="CV_preview.jpg" alt="CV Preview" width="150" class="rounded-md border-solid border-2"
              appImageViewer [fullImage]="'CV_preview.jpg'">
            View CV
          </a>
        </div>
      </app-card>
    </div>

    <app-card title="Tech Stack">
      <app-tech-stack displayMode="cards"></app-tech-stack>
    </app-card>
  </div>
</app-section>