@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  .fade-in-left {
    animation: fadeInLeft 1s ease-in-out;
  }
  
  .fade-in-right {
    animation: fadeInRight 1s ease-in-out;
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease-in-out;
  }
  
  #contact-links a:hover {
    color: goldenrod;
  }

  #tech-stack-links a:hover {
    transform: scale(1.2);
  }

  #CV a {
    color: #ff6b6b;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.2) ;
    }
  }
