@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

.fade-in-right {
  animation: fadeInRight 1s ease-in-out;
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

.about-section {
  @apply theme-base section-container bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark;
}

.section-container {
  @apply container mx-auto text-center;
}

.section-title {
  @apply text-4xl font-extrabold mt-16 mb-4 fade-in;
}

.section-subtitle {
  @apply mt-4 text-lg font-extrabold fade-in;
}

.profile-container {
  @apply container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 gap-8 items-center;
}

.profile-image-container {
  @apply fade-in-left font-extrabold md:flex flex-col items-center;
}

.profile-image {
  @apply fade-in rounded-full w-60 md:w-80 lg:w-100 mx-auto md:mx-0;
}

.profile-name {
  @apply text-2xl mt-2 text-center md:relative;
}

.profile-description {
  @apply fade-in-right indent-12 font-bold;
}

.info-card {
  @apply theme-base card p-6 shadow-lg hover:shadow-xl;
}

.card-title {
  @apply font-extrabold text-xl mb-4;
}

.tech-icons-container {
  @apply flex-center flex-wrap gap-4;
}

.contact-links {
  @apply flex-center flex-col gap-4 font-body-bold;
}

.contact-link {
  @apply flex items-center space-x-2 text-gray-700 dark:text-gray-300;
}

#contact-links a {
  @apply text-primary-light hover:text-accent-default;
}

#tech-stack-links a {
  @apply transition-transform hover:scale-125;
}

#CV a {
  @apply text-primary-light font-body-bold transition-transform hover:scale-110;
}
