<app-section title="About Me" subtitle="Software Developer">
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <div class="flex-center">
      <img src="profile-picture.jpg" alt="Profile Picture" class="rounded-full w-60 md:w-80 lg:w-100">
    </div>
    <div class="space-y-4">
      <h3 class="text-heading-3">DAGOGO Sotonye A.</h3>
      <div class="fade-in-right indent-12 font-bold">
        <p class="mb-4">Welcome to my Portfolio Website! I am a fullstack web developer, specializing in a host of
          different technologies such as Angular, React, SQL, NodeJS, Python and much more.</p>
        <p class="mb-4">Experience gathered from working on personal mini-projects, leading a team of developers in
          production and building applications for enterprises enables me to guarantee quality powerful web applications
          with an aesthetic design</p>
        <p class="mb-4">On this portfolio website, one can view a few of the numerous projects I have built, and some
          certificates gathered over the years. Links to various platforms through which I can be contacted have also
          been
          provided.</p>
      </div>
    </div>
  </div>

  <div class="mt-16 grid md:grid-cols-2 gap-8">
    <app-card title="Experience">
      <p class="text-center">5 years working as:</p>
      <ul class="text-center font-semibold">
        <li><fa-icon [icon]="faYY"></fa-icon> Project manager</li>
        <li class="mb-3"><fa-icon [icon]="faYY"></fa-icon> Fullstack developer</li>
        <li class="flex">Numerous certifications from <a href="https://www.freecodecamp.org/Sotonye" class="px-2"><img
              src="https://img.shields.io/badge/-FCC-black?style=flat&logo=freecodecamp&logoColor=white"
              alt="freecodecamp" class="pt-1"></a></li>
        <li class="flex">Learnt a lot from <a href="https://github.com/bradtraversy" class="px-2"><img
              src="traversy-media.jpg" alt="Traversy Media" width="20" height="20" class="pt-1"></a></li>
      </ul>
    </app-card>

    <app-card title="Tech Stack">
      <div id="tech-stack-links" class="tech-icons-container">
        <a *ngFor="let item of techStack; index as i" [routerLink]="['/projects']"><img src="{{item.image}}"
            title="{{item.title}}" alt="{{item.title}}" width="40" height="40" /></a>
      </div>
    </app-card>

    <app-card title="CV">
      <div class="grid grid-cols-2 gap-4 place-content-center">
        <p class="font-semibold">Have a look at it here:</p>
        <a target="_blank" rel="noopener"
          href="https://1drv.ms/b/c/740863ef2517674a/EaMpTQia4ElEkdFEa9aUcd8Ba7Ro4xAWfl_rsC8eA_AzLg?e=ojDtx2">
          <img src="CV_preview.jpg" alt="CV Preview" width="150" class="rounded-md border-solid border-2">
          View CV
        </a>
      </div>
    </app-card>

    <app-card title="Contact">
      <div id="contact-links" class="contact-links">
        <a *ngFor="let contact of contactLinks; index as i" href="{{contact.link}}"
          class="flex items-center space-x-2 text-gray-700 dark:text-gray-300">
          <fa-icon [icon]="contact.icon" class="{{contact.class}}" size="lg"></fa-icon>
          <span>{{contact.title}}
            <span *ngIf="contact.title === 'X '" class="text-xs">(fka Twitter)</span>
          </span>
        </a>
      </div>
    </app-card>
  </div>
</app-section>