<section class="md:p-16 p-8 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 transition delay-150 duration-300 ease-in-out">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-extrabold mb-8 fade-in">Certificates</h2>
  </div>

  <div class="container mx-auto">
    <!-- Frontend Section -->
    <div class="mb-16 fade-in-up">
      <h3 class="text-2xl font-bold mb-4">Frontend</h3>
      <div class="bg-white dark:bg-gray-700 rounded-lg shadow-lg p-6 relative cert-card">
        <div class="absolute mb-4 top-1 right-2 text-sm font-semibold text-gray-600 dark:text-gray-300">Certificates: {{ frontendCertificates.length }}</div>
        <div class="flex items-center justify-between">
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="prevCertificate('frontend')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="mx-4 text-center transition-transform duration-300 ease-in-out transform fade-in-out">
            <img [src]="frontendCertificates[currentFrontendIndex].image" alt="Certificate Image" class="rounded-lg w-full max-w-sm mx-auto">
            <h4 class="text-xl font-semibold mt-4">{{ frontendCertificates[currentFrontendIndex].title }}</h4>
            <p class="mt-2">{{ frontendCertificates[currentFrontendIndex].description }}</p>
            <a [href]="frontendCertificates[currentFrontendIndex].link" class="text-blue-500 hover:underline transition-colors duration-300 ease-in-out" target="_blank">View Certificate</a>
          </div>
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="nextCertificate('frontend')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Backend Section -->
    <div class="mb-16 fade-in-up">
      <h3 class="text-2xl font-bold mb-4">Backend</h3>
      <div class="bg-white dark:bg-gray-700 rounded-lg shadow-lg p-6 relative cert-card">
        <div class="absolute top-1 right-2 text-sm font-semibold text-gray-600 dark:text-gray-300">Certificates: {{ backendCertificates.length }}</div>
        <div class="flex items-center justify-between">
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="prevCertificate('backend')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="mx-4 text-center transition-transform duration-300 ease-in-out transform fade-in-out">
            <img [src]="backendCertificates[currentBackendIndex].image" alt="Certificate Image" class="rounded-lg w-full max-w-sm mx-auto">
            <h4 class="text-xl font-semibold mt-4">{{ backendCertificates[currentBackendIndex].title }}</h4>
            <p class="mt-2">{{ backendCertificates[currentBackendIndex].description }}</p>
            <a [href]="backendCertificates[currentBackendIndex].link" class="text-blue-500 hover:underline transition-colors duration-300 ease-in-out" target="_blank">View Certificate</a>
          </div>
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="nextCertificate('backend')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Fullstack Section -->
    <div class="mb-16 fade-in-up">
      <h3 class="text-2xl font-bold mb-4">Fullstack</h3>
      <div class="bg-white dark:bg-gray-700 rounded-lg shadow-lg p-6 relative cert-card">
        <div class="absolute top-1 right-2 text-sm font-semibold text-gray-600 dark:text-gray-300">Certificates: {{ fullstackCertificates.length }}</div>
        <div class="flex items-center justify-between">
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="prevCertificate('fullstack')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="mx-4 text-center transition-transform duration-300 ease-in-out transform fade-in-out">
            <img [src]="fullstackCertificates[currentFullstackIndex].image" alt="Certificate Image" class="rounded-lg w-full max-w-sm mx-auto">
            <h4 class="text-xl font-semibold mt-4">{{ fullstackCertificates[currentFullstackIndex].title }}</h4>
            <p class="mt-2">{{ fullstackCertificates[currentFullstackIndex].description }}</p>
            <a [href]="fullstackCertificates[currentFullstackIndex].link" class="text-blue-500 hover:underline transition-colors duration-300 ease-in-out" target="_blank">View Certificate</a>
          </div>
          <button class="p-2 bg-gray-200 dark:bg-gray-600 rounded-full transition-transform duration-300 ease-in-out transform hover:scale-110" (click)="nextCertificate('fullstack')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
