<section class="projects-section">
  <div class="section-container">
    <h2 class="section-title">Projects</h2>
  </div>

  <div class="container mx-auto">
    <!-- Frameworks and Libraries Section -->
    <div class="project-category" id="frameworks-and-libraries">
      <h3 class="category-title">Frameworks and Libraries</h3>
      <div class="project-card">
        <div class="project-count">Projects: {{ frameworksLibrariesProjects.length }}</div>
        <div class="project-content">
          <button class="nav-button" (click)="prevProject('frameworksLibraries')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="project-details">
            <img [src]="frameworksLibrariesProjects[currentFrameworksLibrariesIndex].image" alt="Project Image"
              class="project-image">
            <h4 class="project-title">{{ frameworksLibrariesProjects[currentFrameworksLibrariesIndex].title }}</h4>
            <p class="project-description">{{ frameworksLibrariesProjects[currentFrameworksLibrariesIndex].description
              }}</p>
            <div class="project-links">
              <a [href]="frameworksLibrariesProjects[currentFrameworksLibrariesIndex].githubLink" class="github-link"
                target="_blank">
                <fa-icon [icon]="faGithub" class="mr-2"></fa-icon>
                {{ frameworksLibrariesProjects[currentFrameworksLibrariesIndex].githubRepo }}
              </a>
              <a [href]="frameworksLibrariesProjects[currentFrameworksLibrariesIndex].liveLink" class="live-link"
                target="_blank">
                View {{ frameworksLibrariesProjects[currentFrameworksLibrariesIndex].title }}
              </a>
            </div>
          </div>
          <button class="nav-button" (click)="nextProject('frameworksLibraries')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Basic HTML, CSS, and JS Section -->
    <div class="project-category" id="basic-html-css-js">
      <h3 class="category-title">Basic HTML, CSS, and JS</h3>
      <div class="project-card">
        <div class="project-count">Projects: {{ basicHtmlCssJsProjects.length }}</div>
        <div class="project-content">
          <button class="nav-button" (click)="prevProject('basicHtmlCssJs')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="project-details">
            <img [src]="basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].image" alt="Project Image"
              class="project-image">
            <h4 class="project-title">{{ basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].title }}</h4>
            <p class="project-description">{{ basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].description }}</p>
            <div class="project-links">
              <a [href]="basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].githubLink" class="github-link"
                target="_blank">
                <fa-icon [icon]="faGithub" class="mr-2"></fa-icon>
                {{ basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].githubRepo }}
              </a>
              <a [href]="basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].liveLink" class="live-link" target="_blank">
                View {{ basicHtmlCssJsProjects[currentBasicHtmlCssJsIndex].title }}
              </a>
            </div>
          </div>
          <button class="nav-button" (click)="nextProject('basicHtmlCssJs')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Python Section -->
    <div class="project-category" id="python">
      <h3 class="category-title">Python</h3>
      <div class="project-card">
        <div class="project-count">Projects: {{ pythonProjects.length }}</div>
        <div class="project-content">
          <button class="nav-button" (click)="prevProject('python')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="project-details">
            <img [src]="pythonProjects[currentPythonIndex].image" alt="Project Image" class="project-image">
            <h4 class="project-title">{{ pythonProjects[currentPythonIndex].title }}</h4>
            <p class="project-description">{{ pythonProjects[currentPythonIndex].description }}</p>
            <div class="project-links">
              <a [href]="pythonProjects[currentPythonIndex].githubLink" class="github-link" target="_blank">
                <fa-icon [icon]="faGithub" class="mr-2"></fa-icon>
                {{ pythonProjects[currentPythonIndex].githubRepo }}
              </a>
              <a [href]="pythonProjects[currentPythonIndex].liveLink" class="live-link" target="_blank">
                View {{ pythonProjects[currentPythonIndex].title }}
              </a>
            </div>
          </div>
          <button class="nav-button" (click)="nextProject('python')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Mini-projects Section -->
    <div class="project-category" id="mini-projects">
      <h3 class="category-title">Mini-projects</h3>
      <div class="project-card">
        <div class="project-count">Projects: {{ miniProjects.length }}</div>
        <div class="project-content">
          <button class="nav-button" (click)="prevProject('miniProjects')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
          <div class="project-details">
            <img [src]="miniProjects[currentMiniProjectsIndex].image" alt="Project Image" class="project-image">
            <h4 class="project-title">{{ miniProjects[currentMiniProjectsIndex].title }}</h4>
            <p class="project-description">{{ miniProjects[currentMiniProjectsIndex].description }}</p>
            <div class="project-links" id="mini-projects_">
              <a [href]="miniProjects[currentMiniProjectsIndex].githubLink" class="github-link" target="_blank">
                <fa-icon [icon]="faGithub" class="mr-2"></fa-icon>
                {{ miniProjects[currentMiniProjectsIndex].githubRepo }}
              </a>
              <a [href]="miniProjects[currentMiniProjectsIndex].liveLink" class="live-link" target="_blank">
                View {{ miniProjects[currentMiniProjectsIndex].title }}
              </a>
            </div>
          </div>
          <button class="nav-button" (click)="nextProject('miniProjects')">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>