<section class="section">
    <div class="section-content">
        <!-- Title -->
        <ng-container *ngIf="title">
            <h2 
                *ngIf="titleTypingEffect; else normalTitle"
                class="section-title"
                appTypingEffect
                [config]="titleTypingEffectConfig">
                {{ title }}
            </h2>
            <ng-template #normalTitle>
                <h2 class="section-title">{{ title }}</h2>
            </ng-template>
        </ng-container>
        
        <!-- Subtitle -->
        <ng-container *ngIf="subtitle">
            <p 
                *ngIf="subtitleTypingEffect; else normalSubtitle"
                class="section-subtitle"
                appTypingEffect
                [config]="subtitleTypingEffectConfig">
                {{ subtitle }}
            </p>
            <ng-template #normalSubtitle>
                <p class="section-subtitle">{{ subtitle }}</p>
            </ng-template>
        </ng-container>
        
        <ng-content></ng-content>
    </div>
</section>